.flex-grid{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-right: -.5rem;
    margin-left: -.5rem;*/
}

/*.flex-grid>[class^=flex-] {
    padding-left: .5rem;
    padding-right: .5rem;
}*/


.flex-grid>[class^="flex-"] {
    margin-right: 15px;
}

.flex-grid>[class^="flex-"]:last-of-type {
    margin-right: 0;
}

.flex-col{
    flex:1;
    max-width: 100%;
}

.flex-1{
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.flex-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.flex-3{
    flex:0 0 25%;
    max-width: 25%;
}

.flex-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.flex-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.flex-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.flex-7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.flex-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.flex-9{
    flex: 0 0 75%;
    max-width: 75%;
}

.flex-10{
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.flex-11{
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.flex-12{
    flex: 0 0 100%;
    max-width: 100%;
}


@media only screen and (max-width: 48rem) {
    .flex-grid{
        flex-direction: column;
    }
    .flex-1,
    .flex-2,
    .flex-3,
    .flex-4,
    .flex-5,
    .flex-6,
    .flex-7,
    .flex-8,
    .flex-9,
    .flex-10,
    .flex-11,
    .flex-12{
        flex:1;
        max-width: 100%;
    }
    .nav-aside{
        display: none;
    }
    .main-container{
        margin-left: 0px !important;
        padding: 20px !important;
    }
}